<mat-toolbar color=white *ngIf="userLoggedIn">
  <span class="simple-spacer"> </span>
  <button mat-icon-button class="icon-spacer"  aria-label="Buton next page" (click)="next()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>

  <button mat-icon-button  style="left:-95%" aria-label="Buton home" (click)="home()">
    <mat-icon>home</mat-icon>
  </button>


  <button mat-icon-button style="padding: 0 14px;
  position: absolute;
  left: 70%;"  aria-label="Buton last page" (click)="back()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>

</mat-toolbar>
<div  [ngStyle]="{backgroundColor:'#BA93A9',
backgroundSize:'cover',
backgroundRepeat:'no-repeat',
backgroundPosition:'center'
}" >
  <br>
  <br><br>
  <p class="p2"> Countdown-ul, tradus din engleza numaratoare inversa. Aceasta de obicei se foloseste pentru a vedea mai rapid si mai usor cat timp mai este pana
    la un anumit eveniment important si mult asteptat. Vom vedea in cele ce urmeaza cum putem crea si noi o numaratoare inversa intr-un mod cat mai simplu cu ajutorul javascript-ului.
  </p>


<br><br>

<div id="id1">
  <p class="p2"> 1.Creati un div caruia ii veti atribui o clasa, de exemplu timer</p>
  <p class="p2"> 2.Declarati in fisierul css div-ul cu .timer, urmand apoi sa descrieti atributele acestei numaratori,
    <br> de la cum arata scrisul, pana la cum va arata caseta  in care acesta va fi afisat.</p>
  <img src="assets/timer.png" style="margin-left: 40px;">
  <p class="p2">3.Adaugati tagurile de script in interiorul divului, apoi adaugati functia pentru numaratoarea inversa</p>
  <p class="p2"> 4.Nu uitati sa inchideti tagul script!</p>
</div>
  <img src="assets/arrow.gif" style="margin-left: 600px;margin-top: -500px;"/>
  <div class="timer">
    <h4> Count down timer </h4>
    <span id="days"> {{daysToDday}} </span>Day(s)
    <span id="hours"> {{hoursToDday}} </span>Hrs
    <span id="minutes"> {{minutesToDday}} </span>Min
    <span id="seconds"> {{secondsToDday}} </span>S
  </div>
<br><br>
  <div id="id2">

    <p class="p2">Data pana la care facem numaratoarea: <span>var countDownDate = new Date("Dec,25 2021 00:00:00").getTime();</span></p>

     <p class="p2">
       La fiecare 1 secunda vom reinnoi numaratoarea, cu ajutorul functiei setInterval care reapeleaza function la fiecare o secunda:<br>
       <span>var x = setInterval(function() {{ "{" }} </span>

     </p>
    <p class="p2">
      In interiorul functiei <span>function</span> de mai sus urmeaza sa punem urmatoarele: <br>
    </p>
      <ul>
      <li>
        Data si ora curenta <span style="color:white;"> var azi = new Date().getTime();</span>
      </li>
        <li>
          Calculam distanta dintre ziua de azi si ziua pana la care facem numaratoarea <span style="color:white;"> var distance = countDownDate - azi;</span>
        </li>
        <li>
          Calculam timpul in zile,ore, minute si secunde<br>
          <img src="assets/left.gif" id="left">
        </li>
        <li>
          Afisam rezultatul in elementul de tip id cu numele "timer"-<span style="color:white;">document.getElementById("timer").innerHTML = zile + "z " + ore + "o "
    + minute + "m " + secunde + "s ";</span>
        </li>
        <li>
          Cand numaratoarea s a terminat, adaugam un text:-<span style="color:white;">if (distance < 0) clearInterval(x);
          document.getElementById("timer").innerHTML = "Timpul a expirat";}}, 1000);</span>
        </li>
      </ul>
  </div>

<br>
  <br>
  <br>
  <br>
    <div id="id3">
      <table>
        <tr>var zile = Math.floor(distance / (1000 * 60 * 60 * 24));</tr>
<br><hr>
        <tr>var ore = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));</tr>
<br><hr>
        <tr>var minute = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));</tr>
<br><hr>
        <tr>var secunde = Math.floor((distance % (1000 * 60)) / 1000);</tr>
      </table>

    </div>


<div style="height:400px;">

</div>


</div>
