<mat-toolbar color="accent" *ngIf="userLoggedIn">
  <mat-toolbar-row>
    <span>  </span>
    <span class="simple-spacer"> </span>
    <button mat-icon-button class="buttonClass" aria-label="Butonul pentru logout" (click)= "onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="center-container">
  <div class="display-block">

    <div id="forum">
      <form [formGroup]="questions">
        <mat-list>
          <div mat-subheader>Intrebarile dumneavoastra: </div>
          <mat-list-item *ngFor="let itm of usersList;let i=index" style="color:black;">
            <div mat-line>Intrebare {{i}} pusa de {{itm.firstName}} {{itm.lastName}} la data de {{questionsList[i].date}}</div>
            <div mat-line>{{questionsList[i].id}}  {{questionsList[i].question}}</div>

            <button mat-button (click)="deleteQuestion(questionsList[i].id)" >Delete</button>
            <button mat-button (click)="showResponseForm()" id="showResponseForm">Respond</button>
            <ng-container *ngIf="showEdit">
            <form [formGroup]="responseForm" (submit)="respondToQuestion(questionsList[i].id)">
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Your response:</mat-label>
                <input matInput formControlName="response" required>
                <div *ngIf="notshow" style="color:red">{{questionsList[i].status}}</div>
                <div *ngIf="show" style="color:green">{{questionsList[i].status}}</div>
              </mat-form-field>
              <button mat-button type="submit">Send!</button>
            </form>
            </ng-container>
            </mat-list-item>
        </mat-list>
      </form>
    </div>

  </div>
</div>
