
  <mat-toolbar color="warn" *ngIf="userLoggedIn">
    <mat-toolbar-row>
      <span>  </span>
      <span class="simple-spacer"> </span>
      <button mat-icon-button class="buttonClass" aria-label="Butonul pentru logout" (click)= "onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <!--Buton HTML
      <button mat-icon-button class="icon-spacer" aria-label="Example icon-button with heart icon" (click)="view()">
        <mat-icon>menu</mat-icon>
        <span>HTML</span>
      </button>-->

      <button mat-button [matMenuTriggerFor]="menuHTML">HTML</button>
      <mat-menu #menuHTML="matMenu" class="icon-spacer">
        <button mat-menu-item (click)="intro()">Introducere</button>
        <button mat-menu-item (click)="head()">Head</button>
        <button mat-menu-item (click)="paragraphs()">Paragrafe/Heading-uri</button>
        <button mat-menu-item (click)="attribute()">Atribute/Styling</button>
        <button mat-menu-item (click)="quotes()">Citate/Comentarii</button>
        <button mat-menu-item (click)="colors()">Culori/Imagini</button>
        <button mat-menu-item (click)="tables()">Tabele</button>
        <button mat-menu-item (click)="lists()">Liste</button>
        <button mat-menu-item (click)="blocks()">Blocuri</button>
        <button mat-menu-item (click)="classes()">Clase/Id-uri</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuCSS">CSS</button>
      <mat-menu #menuCSS="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuApp">Aplicatii practice</button>
      <mat-menu #menuApp="matMenu">
        <button mat-menu-item (click)="google()">Integrare Google map</button>
        <button mat-menu-item (click)="count()">Countdown</button>
        <button mat-menu-item (click)="map()">Mapare imagini</button>
        <button mat-menu-item (click)="menu()">Creare meniu</button>
        <button mat-menu-item (click)="slide()">Slideshow</button>

      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
<br>

  <div class="video">
    <video preload="auto" controls (click)="toggleVideo()" #videoPlayer style="width: 600px;height: 500px;top: 200px;left:800px;z-index:0; position: absolute;border: 5px solid black;">
      <source src="{{videoSource}}" type="video/mp4" />
      Browser not supported
    </video>
  </div>

  <div class="forum">
    <mat-card>
      <mat-card-title>Feel free to ask questions directly from the source
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="forum" (submit)="submitForum()">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Your question</mat-label>
            <input matInput formControlName="question" name="question">
          </mat-form-field>
          <br/>
          <button mat-button type="submit">Send</button>
        </form>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="myQuestions" style="width:800px;">
    <mat-card>
      <mat-card-title>Your questions:
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="myQuestions">
          <mat-list>
            <mat-list-item *ngFor="let itm of myQuestionsList" style="color:black;">
              <div mat-line style="margin-top: 20px;">{{itm.userDetails}} intreaba: {{itm.question}} </div>
              <div mat-line><h3>Raspunsuri:</h3>
                <textarea [readOnly]="true" style="position: absolute;width:300px;height: 50px;margin-top: -20px;" id="replaceVal">{{itm.answer}} </textarea>
                <div mat-line>  </div>
                <div mat-line>  </div>
              </div>
              <button mat-button (click)="showResponseForm()" id="showResponseForm"><mat-icon>reply</mat-icon></button>
              <div mat-line>  </div>
              <ng-container *ngIf="showEdit">
                <form [formGroup]="responseForm" (submit)="respondToQuestion(itm.id)">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Your response:</mat-label>
                    <input matInput formControlName="response" required>
                  </mat-form-field>
                  <button mat-button type="submit">Send!</button>
                </form>
              </ng-container>
            </mat-list-item>
              </mat-list>
        </form>
      </mat-card-content>
    </mat-card>
  </div>





