.icon-spacer {
  padding: 0 14px;
  position: absolute;
  left: 90%;
}

.simple-spacer {
  flex: 1 1 auto;
}
.p2{font-size:15px;
  color:black;
  text-indent: 25px;
  font-family: cursive;
  margin-left: 10px;
  margin-top: 20px;
}

span {color:whitesmoke;
}

.etichete{
  font-family: cursive;
  color:white;
  text-align: center;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
#id1{
  margin-left: 100px;
  width: 550px;
  height: 410px;
  border:5px solid white;
  margin-top: -250px;
}

#top1{
  width: 545px;
  height: 50px;
  color:black;
  background-color:#9A4871;
  border:5px solid white;
}

#id2{
  margin-left: 700px;
  width: 700px;
  height: 210px;
  border:5px solid white;
  margin-top: -150px;
}

#top2{
  width: 695px;
  height: 50px;
  color:black;
  background-color:#9A4871;
  border:5px solid white;
}


#id3{
  margin-left: 100px;
  width: 400px;
  height: 210px;
  border:5px solid white;

}

#top3{
  width: 395px;
  height: 50px;
  color:black;
  background-color:#9A4871;
  border:5px solid white;
}


#id4{
  margin-left: 650px;
  width: 300px;
  height: 310px;
  border:5px solid white;
  margin-top: -365px;
}

#top4{
  width: 295px;
  height: 55px;
  color:black;
  background-color:#9A4871;
  border:5px solid white;
}


#id5{
  margin-left: 1100px;
  width: 300px;
  height: 210px;
  border:5px solid white;
margin-top:-320px;
}

#top5{
  width: 295px;
  height: 50px;
  color:black;
  background-color:#9A4871;
  border:5px solid white;
}
