<mat-toolbar color=white *ngIf="userLoggedIn">
  <span class="simple-spacer"> </span>
  <button mat-icon-button class="icon-spacer"  aria-label="Buton next page" (click)="next()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>

  <button mat-icon-button  style="left:-95%" aria-label="Buton home" (click)="home()">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button style="left:-20%" aria-label="Buton quiz" (click)="quiz()">
    <span style="color:black;font-size: 20px;">Test yourself</span>
  </button>

  <button mat-icon-button style="padding: 0 14px;
  position: absolute;
  left: 70%;"  aria-label="Buton last page" (click)="back()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>

</mat-toolbar>
<div  [ngStyle]="{backgroundColor:'#8A878B',
backgroundSize:'cover',
backgroundRepeat:'no-repeat',
backgroundPosition:'center'
}" >
  <br>
  <br><br>

  <div id="id2">
    <div  id="top2">
      <p class="etichete" style="margin-top: 20px;">Comentarii</p>
    </div>
    <p class="p2"> Pentru a adauga comentarii si <span>ascunde anumite fractiuni de cod</span> de care nu sunteti sigur in timp ce va construiti propria pagina web, puteti transforma ceea
      ce scrieti intr-un comentariu. Acest lucru <span>nu va permite afisarea propriu-zisa</span> a ceea ce ati scris pe pagina dumneavoastra web. </p>
    <p class="p2">Pentru a face acest lucru va
      trebui sa incadrati acea portiune intre urmatoarele caractere: <span>< !--</span> *Ceea ce nu doriti sa apara pe pagina* <span>--></span></p>

  </div>

  <img src="assets/book.jpg" style="width:250px;height:250px;margin-left:600px;margin-top: -200px;">


  <div id="id3">
    <div  id="top3">
      <p class="etichete" style="margin-top: 20px;">Citate</p>
    </div>

    <p class="p2"> Pentru a putea adauga citate mai scurte, care <span>vor aparea scrise intre ghilimele</span> puteti sa folositi tagul <span>< q ></span>.
      <br>Ex: <q>	O zi fara programare e o zi pierduta!</q>. </p>
    <p class="p2">Puteti adauga si citate mai lungi, de obicei provenite din alte surse. Astfel cautand citatul pe internet il veti gasi direct din sursa
      din care provine. Pentru acest lucru veti adauga tagul<br> <span>< blockquote cite=" adresa de la care provine citatul " ></span></p>

  </div>

  <img src="assets/arrow.gif" style="width:200px;margin-left:500px;margin-top: -100px;">
  <img src="assets/p13.png" style="margin-left:300px;">
  <br><br><br><br><br><br>


  <div id="id4">
    <div  id="top4">
      <p class="etichete" style="margin-top: 20px;">Abrevieri</p>
    </div>
    <p class="p2">Marcarea abrevierilor este importanta intrucat <span>ofera informații utile</span> browserelor, sistemelor de traducere și motoarelor de căutare.
      Pentru a face acest lucru vom folosi tagul <span>< abbr ></span> astfel cuvintele vor arata subliniate. De asemenea, acestea vor avea o specificatie care va fi
      scrisa in interiorul tagului prin intermediul extensiei title. Aveti mai jos un mic exemplu: </p>
    <img src="assets/p11.png" style="margin-left:30px;">
    <br><br>
    <img src="assets/p12.png" style="margin-left:30px;">
    <br>
  </div>
  <br><br><br><br><br><br>
</div>
