<mat-toolbar color=white *ngIf="userLoggedIn">
  <span class="simple-spacer"> </span>
  <button mat-icon-button class="icon-spacer"  aria-label="Buton next page" (click)="next()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>

  <button mat-icon-button  style="left:-95%" aria-label="Buton home" (click)="home()">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button style="left:-20%" aria-label="Buton quiz" (click)="quiz()">
    <span style="color:black;font-size: 20px;">Test yourself</span>
  </button>

  <button mat-icon-button style="padding: 0 14px;
  position: absolute;
  left: 70%;"  aria-label="Buton last page" (click)="back()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>


</mat-toolbar>
