<div class="center-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required>
        </mat-form-field>
        <br/>
        <button mat-button type="submit">Login</button>
        <button mat-button (click)="clickRegister()">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
